<h1>A list of comments should be here:</h1>

<% @comments.each do |comment| %>
  
  <div>
    <%= comment.id %>
    <%= comment.content %>
    <%= comment.created_at %>
    <%= button_to "Link to this comment", comment, :class => "btn btn-xs btn-info" %>
  </div>
<% end %>

<%= button_to "New comment", new_comment_path, :class => "btn btn-sm btn-warning" %>
<%= button_to "Link to this reading", readings_path, :class => "btn btn-sm btn-warning" %>
<script>
$( "p" ).append( comment.content;
</script>
