<h1>A list of readings is here:</h1>


<div id="container">Chart
</div>

<% @readings.each do |reading| %>

  <div>
    <%= reading.id %>
    <%= reading.sugar_level %>
    <%= reading.weight %>
    <%= reading.created_at %>

    <%= button_to "Link to this reading", reading, method: :get, :class => "btn btn-xs btn btn-info" %>
  </div>

<% end %>

<%= button_to "New reading", new_reading_path, :class => "btn btn-sm btn-warning" %>

<div>
<%= button_to "Users", users_path, :class => "btn btn-sm btn-warning" %>
</div>

<!-- // <script> -->
<!-- // $( "p" ).append( reading.sugar_level; -->
<!-- // </script> -->