<h2 class="heading">Reading on: <span class="moment"><%= @reading.created_at %></span></h2>

<h3 class="heading">Glucose Level (mmol/L): <%= @reading.sugar_level %></h3>
<h3 class="heading">Weight (lb): <%= @reading.weight %></h3>

<!-- I want to list out all the comments made for this reading -->
<h1 class="heading">Comments</h1>

<!-- We want to be able to create comments here -->
<!-- We want a form here -->

<!-- empty comment object -->
<%= form_for @comment do |f| %>

  <%= f.text_field :content, :placeholder => "Comment", :class => "form-control" %>

  <%= f.text_field :reading_id, :value => @reading.id, :hidden => true %>
  <div class="content-btn">
    <%= f.submit "Submit new comment", :class => "btn btn-sm btn-success" %>
  </div>
<% end %>

<table class="table table-condensed table-text">
  <thead>
    <tr>
      <th>Content</th>
      <th>Owner</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @reading.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.email %></td>

        <td><%= link_to "Link to this comment", comment, :class => "btn btn-sm btn-info"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Back to readings", readings_path, :method => :get, :class => "btn btn-sm btn-warning" %>
</div>