<h1>New articles</h1>>

<%= form_for @article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit "Submit" %>
  </div>

<% end %>

<%= link_to "Home", index_path %>