<div id="edit-user" class="text-general">

  <h1>Update your profile</h1>

  <!-- <form class="form-inline"> -->
    <div class="form-group">
      
    <%= form_for current_user do |f| %>

        <div class="spacing">
          <%= f.label :title, :class => "title-spacing" %>
          <%= f.text_field :title, :class => "form-control user-edit"%>
        </div>
        <div class = "spacing">
          <%= f.label :name, :class => "title-spacing" %>
          <%= f.text_field :name, :class => "form-control user-edit" %>
        </div>
        <div class = "spacing">
          <%= f.label :email, :class => "title-spacing" %>
          <%= f.text_field :email, :class => "form-control user-edit" %>
        </div>
        <div class = "spacing">
          <%= f.label :hospital, :class => "title-spacing" %>
          <%= f.text_field :hospital, :class => "form-control user-edit" %>
        </div>
        <div class = "spacing">
          <%= f.label :dob, :class => "title-spacing" %>
          <%= f.text_field :dob, :class => "form-control user-edit" %>
        </div>
        <div class = "spacing">
          <%= f.label "I am a doctor" %>
          <%= f.check_box :is_doctor, {}, true, false %>
        </div>
          <%= f.submit "Submit", :class => "btn btn-warning" %>

        </div>

      <% end %>

    </div>
  <!-- </form> -->
</div>