<h1>A list of users:</h1>


  
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Title</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Hospital</th>
              <th>Date of Create</th>
              <th>Link</th>
            </tr>
        </thead>


        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.title %></td>
              <td><%= user.dob %></td>
              <td><%= user.email %></td>
              <td><%= user.hospital %></td>
              <td><%= user.created_at %></td>
              <td><%= link_to "Link to this user", user, :class => "btn btn-xs btn-info" %></td>
            </tr> 
        <% end %>
        </tbody>
    </table>
  </div>
