<div class="users-show col-xs-9">

<h1>My profile:</h1>

<div>Title:
<%= @user.title %>
</div>
<div>Name:
<%= @user.name %>
</div>
<div>Email:
<%= @user.email %>
</div>
<div>Hospital:
<%= @user.hospital %>
</div>
<div>DOB:
<%= @user.dob %>
</div>

<div>
<%= button_to "Back to users", users_path, method: :get, :class => "btn btn-sm btn-warning" %>
</div>