<!DOCTYPE html>
<html>
<head>
  <title>Rails Basic Template</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="vertical-center body-background">

  <div class="container">

    <div class="row">
      <div class="col-lg-4">

        <% if current_user %>
          <%= current_user.email %>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      
      </div>
      <div class="col-lg-8">
         <%= yield %>
      </div>
    
    </div>
  </div>


</body>
</html>
