<!DOCTYPE html>
<html>
<head>
  <title>Diabetes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="body-background">

  <div class="container">
    <div class="row top">
      <div class="col-xs-6 logo">
        Diabetes Cured
      </div>
      <div class="col-xs-6 sign-buttons">
        <% if current_user %>

          <div class="content-btn">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-primary" %>
          <%= link_to "My profile", current_user, :class => "btn btn-primary" %>
          </div>

        <% else %>
          <div class="content-btn">
          <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %>
          <%= link_to "Sign up", new_user_registration_path, :method => :get, :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div id="left-div" class="col-lg-3 col-xs-3">
        <div id="left-div-inner">
          <div class="left-div-ind text">

          <% if current_user %>
            <%= current_user.email %>
            <div class="layouts-left-btn">
            <%= link_to "Readings", readings_path, :method => :get, :class => "btn btn-primary" %>
            </div>
            <div class="layouts-left-btn">
            <%= link_to "Comments", comments_path, :method => :get, :class => "btn btn-primary" %>
            </div>
            <div class="layouts-left-btn">
            <%= link_to "Users", users_path, :method => :get, :class => "btn btn-primary" %>
            </div>

          <% else %>
          <% end %>

          </div>
        </div>
      </div>

      <div class="col-lg-9 col-xs-9">
         <%= yield %>
      </div>
    
    </div>
  </div>


</body>
</html>
