<!DOCTYPE html>
<html>
<head>
  <title>Rails Basic Template</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="vertical-center body-background">

  <div class="container">

    <div class="row">
      <div class="col-lg-9 col-xs-3">

        <% if current_user %>
          <%= current_user.email %>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>

          <%= button_to "Sign in", new_user_session_path %>
          <%= button_to "Sign up", new_user_registration_path, :method => :get %>
        <% end %>

        <!-- ADD LINK TO MY PROFILE -->
        <!-- ADD LINK TO MY READINGS -->

      </div>
      <div class="col-lg-9 col-xs-9">
         <%= yield %>
      </div>
    
    </div>
  </div>


</body>
</html>
